body {
    margin: 20px;
    font-family: courier, monospace;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    font-family: courier, monospace;

}

#exerciseList {
    margin-top: 20px;

}
